* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

.container {
    max-width: 1000px;
    margin: 0 auto;

}

.apply_box {
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

.web {
    font-size: 16px;
}

.form_container {

    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.form_contorl {

    display: flex;
    flex-direction: column;


}

label {
    font-size: 25px;
    margin-bottom: 10px;
}

input, select, textarea {

    padding: 6px 10px;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 4px;
    font-size: 15px;
    
}


.button_container {
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;

}


button:hover {
    background-color: #ccc;
    border: 2px solid red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;


}

.text_control {

    grid-column: 1 / span 2;

}

.text_control textarea {

    width: 100%;
}



@media (max-width: 460px) {

    .text_control {
        grid-column: 1 / span 1;
    }
}